<div class="text-center jumbotron">
  <div class="layer">
    <div class="container my-0">
      <header class="d-flex flex-wrap justify-content-center py-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4 text-light">Analytica</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link text-light">Find Tenders</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-light">RFQs</a></li>
          <li class="nav-item"><%= link_to 'Contact us', contact_path, class: "nav-link text-light" %></li>
          <li class="nav-item"><%= link_to 'About us', about_path, class: "nav-link text-light" %></li>
        </ul>

        <div class="text-end">
          <%= link_to 'Login', new_company_session_path, class: 'btn btn-outline-light me-2' %>
          <%= link_to 'Sign up', new_company_registration_url, class: 'btn btn-light' %>
        </div>
      </header>
    </div>
  </div>
  <div class="layer px-4 py-5 text-light">
    <h1 class="display-5 fw-bold">Browse available Tenders</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Quickly design and customize responsive mobile-first sites with Bootstrap, the
        world’s most popular front-end open source toolkit and powerful JavaScript plugins.
      </p>
    </div>
  </div>
</div>


<div class="container">
  <h2 class="m-4 text-center">Featured jobs</h2>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img p-3" width="125" height="125" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        <div class="col p-4 pt-3 d-flex flex-column position-static">
          <h3 class="mb-0">Job title</h3>
          <div class="card-text mb-1">Posted on: November 12, 2020</div>
          <p class="card-text text-muted mb-2">
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
            This is a wider card with supporting text below
            as a natural lead-in to additional content.
          </p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" px-4 py-5 theme-gray mb-5">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
      </div>
      <h2>Featured title</h2>
      <p class="text-dark">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
      </div>
      <h2>Featured title</h2>
      <p class="text-dark">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <h2>Featured title</h2>
      <p class="text-dark">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>
</div>

<div class="container px-4 ">
  <h2 class="text-center mb-5">Latest Blog Post</h2>
  <div class="row row-cols-1 row-cols-lg-3">
    <div class="col mb-2">
      <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

        <div class="card-body">
          <strong>Card title</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col mb-2">
      <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

        <div class="card-body">
          <strong>Card title</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>

    <div class="col mb-2">
      <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

        <div class="card-body">
          <strong>Card title</strong>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="stretched-link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
