<div class="container">
  <nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Lots</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Auction</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row mb-3">
        <div class="col-sm-6 col-lg-4 border-end border-bottom border-primary">
          <%= render 'auctions/lots/form' %>
        </div>

        <div class="col-sm-6 col-lg-8 overflow-y-scroll">
          <%= render 'auctions/lots/lots' %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="d-flex justify-content-center align-items-center">
      <%= render 'form' %>
    </div>
  </div>

</div>